
 *{margin: 0; padding: 0;}

.tree .family{
	padding-top: 20px; position: relative;
	
	
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position:relative;
	padding-left: 0px;
    padding-right: 0px;
	
	
}



.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 2px solid red;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 2px solid red;
}


.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}


.tree li:only-child{ padding-top: 0;}


.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}

.tree li:last-child::before{
	border-right: 2px solid red;
	
}
.tree li:first-child::after{
	border-radius: 2px 0 0 0;
	
}


.parent:before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid red;
	width: 50%; height: 20px;
}


